sklearn==0.0
numpy==1.17.4
tensorflow==2.0
pandas==1.0.2
qdarkstyle==2.8.1
argparse==1.1
joblib==0.14.1
librosa==0.7.2
SoundFile==0.10.3.post1
opencv-python==4.4.0.42
glob3==0.0.1
matplotlib==3.2.0
pydub==0.23.1
PyQt5==5.15.1
numba==0.48
